button{
    width: 200px;
    height: 100px;
    margin: 10px;
    background: #0081cb;
    color: #fffff8;
    border-radius: 25px;
    box-shadow: 2px 4px 5px #444;
}

button:hover {
    background: #69e2ff;
}