button{
    width: 200px;
    height: 100px;
    margin: 10px;
    background: #c94f7c;
    color: #fffff8;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border-radius: 25px;
    box-shadow: 2px 4px 5px #444;
}

button:hover {
    background: #ffb2dd;
}