button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #fffff8;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border-radius: 25px;
    border-color: #090979;
    box-shadow: 2px 4px 5px #444;
}

button:hover {
    background: #00d4ff;
}