.holder{
    border-radius: 25px;
    color: #000000;
    padding: 10px;
    font-family: 'Baloo Tamma 2', cursive;
}

.questions{
    font-family: 'Kalam', cursive;
    color: #000000;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    color: #000000;
    background: #0081cb;
    font-size: 20px;
    border: none;
}


textarea{
    background:#0081cb;
    color: #000000;
    font-size: 20px;
    border-radius: 25px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #000000;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #000000;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #000000;
} 