.holder{
    border-radius: 25px;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#c94f7c;
    color: #fffff8;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}


textarea{
    background: #c94f7c;
    color: #fffff8;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 25px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #fffff8;
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #fffff8;
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #fffff8;
    font-family: 'Oswald', sans-serif;

} 